* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #030e4f;
  overflow-x: hidden;
  color: #fff;
}
i {
  color: #ffffff;
  transition: all 0.5s ease;
}
i:hover {
  color: #ff6b00;
}
.btn {
  background: #ff6b00;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease;
}
.btn:hover {
  background: #ffa600;
}
.about {
  min-height: 100vh;
  background-image: url("../images/fundo4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  padding: 2rem;
  color: white;
}
.about::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(3, 14, 79, 0.5);
  z-index: 1;
}
.about .content {
  width: 90%;
  margin: 5%;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .content h1 {
  font-size: xx-large;
}
.about .content p {
  margin: 20px 0;
  position: relative;
  z-index: 2;
}
.about .content ul li {
  margin: 5% 0;
}
.about .content ul {
  padding: 0 5%;
}
.about .content img {
  max-width: 300px;
}
.missao {
  min-height: 100vh;
  background-image: url("../images/fundo5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: white;
  align-items: center;
  justify-content: center;
}
.missao::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(3, 14, 79, 0.5);
  z-index: 1;
}
.missao .content {
  width: 90%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.missao .content h1 {
  font-size: 2rem;
  margin: 20px 0;
}
.missao .content p {
  margin: 20px 0;
  z-index: 2;
}
.missao #valores {
  text-align: center;
}
.imagem {
  padding: 10%;
  display: flex;
  justify-content: center;
  position: relative;
}
.imagem img {
  width: 80%;
  max-width: 500px;
  position: relative;
  z-index: 2;
}
.nature {
  min-height: 100vh;
  background-image: url("../images/fundo6.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.responsabilidade {
  min-height: 100vh;
  background-image: url("../images/fundo7.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  padding: 2rem;
  color: #000;
}
.responsabilidade::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.719);
  z-index: 1;
}
.responsabilidade .content {
  width: 90%;
  margin: 5%;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.responsabilidade .content h1 {
  font-size: xx-large;
  margin: 5% 0;
}
.responsabilidade .content p {
  margin: 20px 0;
  position: relative;
  z-index: 2;
}
.responsabilidade ul {
  padding: 0 5%;
}
.responsabilidade .content ul li {
  margin: 3% 0;
}
@media (max-width: 768px) {
  .missao .content h1 {
    font-size: 1.5rem;
  }
  .imagem img {
    width: 100%;
    max-width: 300px;
  }
}
@media (min-width: 768px) {
 
  .about .content {
    width: 80%;
    margin: 10%;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .missao .content {
    width: 80%;
    margin: 10%;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
