        <section id="contact" class="contact">  
            <div class="contact-container">
                <div class="contact-form">
                    <form action="https://api.web3forms.com/submit" method="POST">

                        <input type="hidden" name="access_key" value="076c87bb-957b-4231-89a7-99a7f5c48998">

                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" id="nome" name="nome" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input type="tel" id="telefone" name="telefone" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="informacao">Qual é a Informação que pretende?</label>
                            <select id="informacao" name="informacao" class="form-control">
                                <option value="" selected disabled></option>
                                <option value="consultoria">Consultoria</option>
                                <option value="formacao">Formação Profissional</option>
                                <option value="outsourcing">Outsourcing de serviços</option>
                                <option value="entregas">Entregas express</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="mensagem">Mensagem</label>
                            <textarea id="mensagem" name="mensagem" rows="4" class="form-control"></textarea>
                        </div>

                        <div class="form-footer">
                            <button type="submit" class="submit-btn">Enviar</button>
                        </div>
                    </form>
                </div>

                <div class="contact-info">
                    <h2>Entre em contato connosco.</h2>
                    <address>
                        <p>
                            Benfica Bussiness Park (Avenida comandante Fidel de Castro) / Luanda
                        </p>
                        <p>Telf: <a href="tel:+244930981759">+244 930 981 759</a></p>
                        <p><a href="https://prolog.ao">https://prolog.ao</a></p>
                        <p><a href="mailto:info@prolog.ao">info@prolog.ao</a></p>
                        <div class="map-container">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3941.3146191515784!2d13.162788510050213!3d-8.943128391077765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x492a835ca231557b%3A0x13c0771fe33af3d6!2zUHJvbG9nIFNvbHXDp8O1ZXMgTGRh!5e0!3m2!1spt-PT!2sao!4v1731056924284!5m2!1spt-PT!2sao"
                                style="border: 0" title="Localização da Prolog Solutções" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </address>
                </div>
                <div class="whatsapp-button">
                    <a href="https://wa.me/244930981759" target="_blank">
                        <img src="/assets/images/icon_whatsapp.svg" alt="WhatsApp" />
                    </a>
                </div>
            </div>
        </section>